{# app/Resources/views/classesofstudents.html.twig #} 
{% extends 'base-entrypoint.html.twig' %} 

{% block title %}
{% endblock %}

{% block body %}
<div style="margin-top:50px;">
	<p>Grade Book was created for St. Sergius Learning Center to help
		teachers, student and administrative personal to track and to handle
		student performance and grades. All administrative options of the
		system are available at any moment from the top menu or from the admin
		welcome page.</p>
	<div class="row">
		<div class="col-md-10">
			<h2>Teachers</h2>
			<p>Teachers can input students grades and get reports for the
				cources they run.</p>
			<p>
				<a class="btn btn-lg btn-primary" href="/teacher" role="button">Teacher
					login &raquo;</a>
			</p>
		</div>
		<div class="col-md-10">
			<h2>Administrators</h2>
			<p>Administrators can cofigurate the system, change settings for classes,
				courses, lessons. Administrators can create, update or delete users.</p>
			<p>
				<a class="btn btn-lg btn-primary" href="/admin" role="button">Administrator
					login &raquo;</a>
			</p>
		</div>
	</div>
</div>
{% endblock %}
