{# app/Resources/views/yearMigrationSuceeded.html.twig #}
{% extends 'base-admin.html.twig' %}

{% block pageTitle %}Year migration succeeded{% endblock %}
{% block title %}Year migration succeeded{% endblock %}

{% block body %}
    <div style="margin-bottom:10px;">
    	Year migration succeeded
	</div>
{% endblock %}
