{# app/Resources/views/teacher/grades.html.twig #}
{% extends 'base-print.html.twig' %}

{% import 'report/macro_gradesPrint.html.twig' as report %}

{% block title %}Grades{% endblock %}

{% block body %}

<div class="container">
  <!-- Example row of columns -->
  
  	{{ report.grades(gradeResult) }}

</div>
{% endblock %} 