{# app/Resources/views/teacher/exam.html.twig #}
{% extends 'base-admin.html.twig' %}

{% block title %}Find teaches with pending grades{% endblock %}

{% block body %}
<div class="container">
  <!-- Example row of columns -->
  <h3>Select receipent role:</h3>
  {%for role in roles %}
  <div class="row">
      <div class="col-md-10">
        <p><a class="btn btn-primary btn-lg" href="/admin/report/pendingGrades/exam/{{ exam.id }}" role="button">{{ exam.name }} &raquo;</a></p>
      </div>
  </div>
  {% endfor %}
</div>
{% endblock %} 