{# app/Resources/views/teacher/exam.html.twig #}
{% extends 'base-admin.html.twig' %}

{% block title %}Send a message to a selected group of users{% endblock %}

{% block body %}
<div class="container">
  <!-- Example row of columns -->
  <h3>Select period:</h3>
  {%for role in roles %}
  <div class="row">
      <div class="col-md-10">
        <p><a class="btn btn-primary btn-lg" href="/admin/message/role/{{ role.id }}" role="button">{{ role.name }} &raquo;</a></p>
      </div>
  </div>
  {% endfor %}
</div>
{% endblock %} 